<!DOCTYPE html>
<html lang="en">
{{> head}}

<body style="overflow-y:hidden; overflow-x:hidden;">
     <div class=" ">
          <div class="p-2">
               {{{ body}}}
          </div>
     </div>
     {{> scripts}}
</body>

</html>